<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load socialaccount %}
    <h2>Google Login</h2>
    <form action="{% provider_login_url 'google' %}" method="post">
        {% csrf_token %}
        <button type="submit">SIGN IN WITH GOOGLE</button>
      </form>
      
      
</body>
</html>






 <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Authentication</title>
</head>
<body>
    {% load socialaccount %}
    <h2>Google Login</h2>
    <form action="" onclick="signInWithGoogle()" method="post">
        {% csrf_token %}
        <button type="submit">SIGN IN WITH GOOGLE</button>
    </form>

    <script>
        var authWindow;

        function signInWithGoogle() {
            // Open the Google authentication window in a new tab
            authWindow = window.open("{% provider_login_url 'google' %}", "GoogleAuthWindow", "width=600,height=600");

            // Set an interval to check if the Google authentication window is closed
            var temp = authWindow.location.href;
            console.log(temp);
                // if (authWindow.location.href.indexOf('http://127.0.0.1:8000/') === 0) {
                //     // The URL of the authentication window matches the callback URL
                //     // This indicates a successful authentication

                //     // Close the authentication window
                //     authWindow.close();

                //     // Perform further actions (e.g., redirect or process the authentication)
                //     window.location.href = "/";
                // }
        }
    </script>
</body>
</html> -->
