<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>registration</h1>
 

    <!-- <form method="POST">
        {% csrf_token %}

        <input type="hidden" name="action" value="action1">

        <select id="regnonteamevent">
            {% for event in nonteam_event %}
            <option value="{{event.eventname}}" data-event-type="{{ event.limit }}">
                {{event.eventname}}
            </option>
            {% endfor %}
        </select>

       
        <button id="appendButton">Append Value</button>


        <input type="text" id="inputField" name="eventstatus1" placeholder="U can Change">
        <input type="submit" />

    </form> -->
    <button id="createTeamButton">Create Team</button>
    <button id="joinTeamButton">Join Team</button>

    <form method="POST">
        {% csrf_token %}
        <!-- <select id="regteamevent" name="regteamevent">
            {% for event in team_event %}
            <option value="{{event.eventname}}">
                {{event.eventname}}
            </option>
            {% endfor %}
        </select> -->

        <input id="regteamevent" type="hidden" name="regteamevent" value="Paper Presentation">
        <input id="action" type="hidden" name="action" value="">




            

            <div id="createTeam" style="display: none;">
                    
                    
                    <label for="teamname">Team Name:</label>
                    <input type="text" name="teamname" placeholder="Type your Team name...."/>

                    <label for="pinpassword">Pin Password:(Type 4 digit number)</label>
                    <input type="number" name="pinpassword" placeholder="Type your Pin...." min="1000" max="9999" pattern="[0-9]{4}"/>


                    <input type="submit"/>
            </div>

            <div id="joinTeam" style="display: none;">
                    
                <label for="teamnames">Team Name:</label>
                <select id="teamnames" name="teamnames">
                    {% for team in teams %}

                        <option value="{{team.teamname}}" data-eventname="{{ team.eventname }}">
                            {{team.teamname}}
                        </option>

                    {% endfor %}
                </select>

                <label for="pinpassword2">Pin Password:(Type 4 digit number)</label>
                <input type="number" name="pinpassword2" placeholder="Type your Pin...." min="1000" max="9999" pattern="[0-9]{4}"/>


                <input type="submit"/>
            </div>
    </form>

    


    <script>

        // const selectField = document.getElementById('regnonteamevent');
        const selectField2 = document.getElementById('regteamevent');
        // const inputField = document.getElementById('inputField');
        // const appendButton = document.getElementById('appendButton');
        const appendButton2 = document.getElementById('appendButton2');
        const createTeamButton = document.getElementById('createTeamButton');
        const joinTeamButton = document.getElementById('joinTeamButton');





        // appendButton.addEventListener('click', function() {

        //     event.preventDefault()
        //     const selectedValue = selectField.value;


        //         if(inputField.value === ''){
        //             inputField.value = selectedValue;
        //         }
        //         else{
        //             inputField.value = inputField.value + "," + selectedValue;
        //         }

        // });


        // appendButton2.addEventListener('click', function() {

        //     event.preventDefault()
        //     createTeamButton.style.display = 'inline-block';
        //     joinTeamButton.style.display = 'inline-block';

        // });


        createTeamButton.addEventListener('click', function(event) {
            event.preventDefault();
            const createTeam = document.getElementById('createTeam');
            const joinTeam = document.getElementById('joinTeam');
            const action = document.getElementById('action');
            action.value = 'action2';
            createTeam.style.display = 'inline-block';
            joinTeam.style.display = 'none';

        });

        


        joinTeamButton.addEventListener('click', function(event) {
            event.preventDefault();
            const createTeam = document.getElementById('createTeam');
            const joinTeam = document.getElementById('joinTeam');
            createTeam.style.display = 'none';
            joinTeam.style.display = 'inline-block';

            const action = document.getElementById('action');
            action.value = 'action3';

            var selectedEvent = selectField2.value;
            var teamOptions = document.getElementById("teamnames").options;

        });



    </script>
</body>
</html>