<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            height: 75vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        dotlottie-player {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
        <dotlottie-player src="https://lottie.host/272fb146-fa33-4a3a-8d63-0a57f1f20174/qZCBz4xwJB.json" background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay></dotlottie-player>
        <center><b>Error message is displayed here!</b></center>
    </div>
</body>
</html>