<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="Events">Events:</label>
        <input type="text" name="event" placeholder="Type your Events...."/>
        <label for="limit">Limit:</label>
        <input type="number" name="limit" placeholder="Type your limit...."/>
        <input type="submit" />
    </form>
</body>
</html>